body {
    background-color: aqua;
}

.putih {
    color: red;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: Comic Sans MS;
}

h4 {
    text-align: center;
    font-style: italic;
}

.p1 {
    text-align: center;
    color: rgb(238, 158, 53);
}

.p2 {
    text-align: center;
    line-height: 3ch;
}

.biru {
    color: darkblue;
}

.putih:hover {
    color: white;
}

.bgbiru:hover {
    background-color: darkblue;
    color: white;
}

a.bgbiru {
    text-decoration: none;
}

a.bgbiru:hover {
    text-decoration: none;
}

.h3 {
    text-align: center;
}

body {
    background-image: url(background2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}